.glossary-list {
    columns: auto 8em;
    border-style: solid;
    border-width: thin;
    padding: 10px;
}

.glossary-list .glossary-list-item {
    display: list-item;
    margin-top: 0px;
}

.hide-glossary {
    display: none;
}